.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(247, 247, 247);
    ;
}

/* nav-bar style */
.display-flex {
    display: flex;
}

.bag {
    padding: 12px 16px;
    height: 62px;
    width: 62px;
}

.bag-school {
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.nav-info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1160px;
    align-items: center;
}

.btn-style {
    justify-content: space-between;
    gap: 32px;
}

.btn-style a {
    text-decoration: none;
}

.btn-style li {
    list-style: none;
}

.school {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(17, 17, 17);
}

.home {
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    color: rgb(254, 163, 1);
    border: none;
}

.about {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(1, 172, 253);
    border: none;
}

.facilities {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(5, 212, 223);
    border: none;
}

.admission {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(93, 88, 239);
    border: none;
}

.contact {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 163, 1);
    border-radius: 12px;
    width: 197px;
    height: 50px;
    border: none;
}

.menu-bar {
    display: none;
}

/* banner section */

.banner {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-heading {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-info {
    margin-right: 50px;
}

.empowering {
    color: rgb(254, 163, 1);
}

.towards-vision {
    color: rgb(1, 172, 253);
}

.paragraph-info {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.enroll-btn {
    width: 197px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: black;
    color: rgb(255, 255, 255);
}

/* Standard Curriculum section */
.standard-section {
    /* align-items: center; */
    margin-top: 60px;
    text-align: center;
    background: url(../assets/bg.png);
}

.box-container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.kinder,
.elementary,
.middle {
    width: 367.8px;
    height: 476.78px;
    margin-right: 28.29px;
}

.standard-header {
    font-size: 2.875rem;
    font-weight: 700;
}

.kinder {
    align-items: center;
    padding: 41px 41px;
    margin-bottom: 32.02px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.kinder-img {
    width: 137.44px;
    height: 124.69px;
}

.kinder-heading {
    font-size: 1.53rem;
    font-weight: 700;
}

.kinder-paragraph {
    font-size: 0.943rem;
    font-weight: 500;
    color: rgb(128, 128, 128);
}

.read-more-1 {
    text-decoration: none;
    font-size: 0.943rem;
    font-weight: 700;
    color: rgb(100, 200, 255);
}

.elementary {
    align-items: center;
    padding: 41px 41px;
    margin-bottom: 40.39px;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.elementary-heading {
    font-size: 1.53rem;
    font-weight: 700;
}

.elementary-paragraph {
    font-size: 0.943rem;
    font-weight: 500;
    color: rgb(128, 128, 128);
}

.read-more-2 {
    text-decoration: none;
    font-size: 0.943rem;
    font-weight: 700;
    color: rgb(240, 170, 0);
}

.middle {
    align-items: center;
    padding: 41px 41px;
    margin-bottom: 37.4px;
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.middle-heading {
    font-size: 1.53rem;
    font-weight: 700;
}

.middle-paragraph {
    font-size: 0.943rem;
    font-weight: 500;
    color: rgb(128, 128, 128);
}

.read-more-3 {
    text-decoration: none;
    font-size: 0.943rem;
    font-weight: 700;
    color: rgb(135, 0, 255);
}

.arrow {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-left {
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: rgb(254, 163, 1);
}

.btn-right {
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: rgb(254, 163, 1);
}

/* media query for mobile */
@media screen and (max-width:576px) {
    .nav-info {
        border-bottom: 1px solid orange;
    }

    .school {
        display: none;
    }

    .btn-style {
        display: none;
    }

    .contact-btn {
        display: none;
    }

    .menu-bar {
        display: inline;
        padding: 12px 16px;
        font-size: 30px;
    }

    .banner {
        justify-content: center;
        text-align: center;
        flex-direction: column-reverse;
    }

    .banner-heading {
        font-size: 2rem;
    }

    .paragraph-info {
        font-size: 0.875rem;
    }

    .enroll-btn {
        font-size: 1rem;
        width: 131px;
        height: 42px;
    }

    .banner-content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .banner-info {
        margin: 0 auto;
    }

    .hero-kid {
        width: 80%;
    }

    .standard-header {
        font-size: 1.625rem;
    }

    .kinder {
        margin: auto;
        margin-bottom: 12.3px;
    }

    .elementary {
        margin: auto;
        margin-bottom: 12.3pxs;
    }

    .middle {
        margin: auto;
        margin-bottom: 12.3px;
    }

    .box-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .arrow{
        display: none;
    }
}